# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
API-For-TCG-Card-Shop-Simulator/bin
BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/bin
API-For-TCG-Card-Shop-Simulator/.vs
API-For-TCG-Card-Shop-Simulator/obj
BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs
BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj
/.vs/API-For-TCG-Card-Shop-Simulator/v17
/.vs
/API-For-TCG-Card-Shop-Simulator/libs/Bepinex_Preload_Patch.dll
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/DesignTimeBuild/.dtbcache.v2
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/FileContentIndex/01dbe874-fc8a-43c3-9616-4bc51a53e28d.vsidx
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/FileContentIndex/3cea2936-8127-464e-a0e2-f0f471e04795.vsidx
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/FileContentIndex/51097da0-5ded-44fa-ab61-ab0878bbd31a.vsidx
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/FileContentIndex/27475d5a-ca4e-4349-a380-5faab4b86638.vsidx
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/FileContentIndex/81f3112a-2b6d-4ca1-98c8-8ac58cd3ca98.vsidx
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/v17/.futdcache.v2
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/v17/.suo
/API-For-TCG-Card-Shop-Simulator/.vs/API For TCG Card Shop Simulator/v17/DocumentLayout.json
/API-For-TCG-Card-Shop-Simulator/.vs/ProjectEvaluation/api for tcg card shop simulator.projects.v7.bin
/API-For-TCG-Card-Shop-Simulator/.vs/ProjectEvaluation/api for tcg card shop simulator.metadata.v7.bin
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.AssemblyInfo.cs
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.AssemblyInfoInputs.cache
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.assets.cache
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.csproj.AssemblyReference.cache
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.csproj.CoreCompileInputs.cache
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.csproj.FileListAbsolute.txt
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.GeneratedMSBuildEditorConfig.editorconfig
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/API For TCG Card Shop Simulator.sourcelink.json
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/publicized/Bepinex_Preload_Patch.dll
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/publicized/Bepinex_Preload_Patch.dll.md5
/API-For-TCG-Card-Shop-Simulator/obj/Release/netstandard2.1/TheAPI.dll
/API-For-TCG-Card-Shop-Simulator/obj/API For TCG Card Shop Simulator.csproj.nuget.dgspec.json
/API-For-TCG-Card-Shop-Simulator/obj/API For TCG Card Shop Simulator.csproj.nuget.g.props
/API-For-TCG-Card-Shop-Simulator/obj/project.assets.json
/API-For-TCG-Card-Shop-Simulator/obj/project.nuget.cache
/API-For-TCG-Card-Shop-Simulator/API For TCG Card Shop Simulator.sln
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/DesignTimeBuild/.dtbcache.v2
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/FileContentIndex/457ee589-941e-4d81-a1dc-8f0eb2626026.vsidx
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/FileContentIndex/5b32a780-9f1b-424c-bcd5-bc1d52e9a7d8.vsidx
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/FileContentIndex/b423e60b-90dd-4ab1-b674-d5f3fac51f17.vsidx
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/FileContentIndex/eaf12492-5931-4514-9cad-49987e5bb938.vsidx
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/FileContentIndex/fcc936ab-cc30-4de9-a88a-af56bbb5a83f.vsidx
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/v17/.futdcache.v2
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/v17/.suo
/BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs/Bepinex Preload Patch/v17/DocumentLayout.json
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Debug/netstandard2.1/Bepinex Preload Patch.AssemblyInfo.cs
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Debug/netstandard2.1/Bepinex Preload Patch.AssemblyInfoInputs.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Debug/netstandard2.1/Bepinex Preload Patch.assets.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Debug/netstandard2.1/Bepinex Preload Patch.csproj.AssemblyReference.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Debug/netstandard2.1/Bepinex Preload Patch.GeneratedMSBuildEditorConfig.editorconfig
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Bepinex Preload Patch.csproj.nuget.dgspec.json
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Bepinex Preload Patch.csproj.nuget.g.props
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/project.assets.json
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/project.nuget.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.AssemblyInfo.cs
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.AssemblyInfoInputs.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.assets.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.csproj.AssemblyReference.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.csproj.CoreCompileInputs.cache
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.csproj.FileListAbsolute.txt
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.GeneratedMSBuildEditorConfig.editorconfig
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex Preload Patch.sourcelink.json
/BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj/Release/netstandard2.1/Bepinex_Preload_Patch.dll
