# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
API-For-TCG-Card-Shop-Simulator/bin
BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/bin
API-For-TCG-Card-Shop-Simulator/obj
.vs/
BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs
BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj
/.vs/API Github/FileContentIndex/
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/API Github/FileContentIndex/f77a8db8-f13f-4e13-a3cb-053671d2c719.vsidx
/.vs/API Github/v17/.wsuo
/.vs/API Github/v17/DocumentLayout.json
*.v2
*.json
*.sln
*.suo
*.bin
*.md5
*.dll
*.cache